body {
    background-image: url(../img/demeter_index.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "italianno", sans-serif;
}
.links {
    text-align: center;
    font-size: 80px;
    }
a:hover{
      color: rgb(249, 162, 1);
}
p{
    font-size: 90px;
}
#cabecalho{
    background-color: #994f0c;
    height: 100px;
    opacity: 90%;
}
a{
    color: #000;
}
#sobre{
    background-color: #94571e;
    margin-top: 500px;
    width: 755px;
    height: 500px;
    opacity: 90%;
}
h1{
    font-size: 125px;
}
  


